/* common shared styles */
body {
  font-family: "Oswald", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
.orange {
  color: orangered;
}
.button-primary {
  background-image: linear-gradient(
    to right,
    rgb(255, 132, 0),
    rgb(255, 38, 0)
  );
  color: aliceblue;
  border: none;
  border-radius: 2px;
  padding: 8px 15px;
  font-weight: 600;
}
.button-primary a {
  color: aliceblue;
}
.button-primary:hover {
  box-shadow: 0 0 5px 1px rgba(255, 153, 0, 0.586);
}
/* Nav related styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 150px;
  margin-right: 75px;
}
.nav-title {
  font-size: 45px;
  font-weight: 800;
  color: #181818;
}
nav a {
  text-decoration: none;
  color: #3c3c3c;
}
nav > ul {
  display: flex;
  align-items: center;
  list-style: none;
}
nav li {
  margin: 20px;
}
.header {
  background-color: rgba(255, 68, 0, 0.059);
}
/* banner related styles */
.banner {
  padding: 30px 20px 20px 150px;
  display: flex;
  align-items: center;
}
.banner .profile-pic {
  width: 400px;
}
